body{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.0rem;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

/*Section dos 4 itens fixos*/
.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
}
.flex > div{
    flex: 1 1 300px;
    margin: 0 10px;
}

/*Cards*/
.classe-cards{
    border: 3px solid rgb(62, 41, 252);
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

#div-novo-card{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
}
textarea{
    resize: none;
}
/*Section dos itens mutaveis*/

/*Form*/
#formulario{
    display: none;
    background: rgb(58, 58, 58);
    text-align: center;
    visibility: visible;
}
