body{
    display:block;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.0rem;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

/*Section dos 4 itens fixos*/
#sectionPaginaPrincipal {
    display: block;
    flex-wrap: wrap;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
}
#sectionTemplatesInseridos{
    display: block;
    justify-content: center;
}
#sectionFixo{
    display: none;
    justify-content: center;
}
#sectionDinamico{
    display: none;
    justify-content: center;
}

/*Cards*/
.classecards {
    border: 3px solid rgb(62, 41, 252);
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

#divNovoCard{
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    border: 3px solid rgb(252, 66, 41)
}
textarea{
    resize: none;
}
/*Section dos itens mutaveis*/

/*Form*/


